USE [master]
GO
/****** Object:  Database [QuanLyTHPT]    Script Date: 24-Apr-17 4:53:33 PM ******/
CREATE DATABASE [QuanLyTHPT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyTHPT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SV2N2\MSSQL\DATA\QuanLyTHPT.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyTHPT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SV2N2\MSSQL\DATA\QuanLyTHPT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyTHPT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyTHPT]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 24-Apr-17 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[DiemSo] [float] NOT NULL,
	[HocSinhID] [int] NOT NULL,
	[MonHocID] [int] NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[HocSinhID] ASC,
	[MonHocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 24-Apr-17 4:53:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[GiaoVienID] [int] IDENTITY(1,1) NOT NULL,
	[TenGiaoVien] [nvarchar](50) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[QueQuan] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[MonHocID] [int] NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[GiaoVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 24-Apr-17 4:53:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh](
	[HocSinhID] [int] IDENTITY(1,1) NOT NULL,
	[TenHocSinh] [nvarchar](50) NOT NULL,
	[LopHocID] [int] NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[QuenQuan] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_HocSinh] PRIMARY KEY CLUSTERED 
(
	[HocSinhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LichPhanCong]    Script Date: 24-Apr-17 4:53:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichPhanCong](
	[GiaoVienID] [int] NOT NULL,
	[ThoiGian] [nvarchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_LichPhanCong] PRIMARY KEY CLUSTERED 
(
	[GiaoVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 24-Apr-17 4:53:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[LopHocID] [int] IDENTITY(1,1) NOT NULL,
	[TenLopHoc] [nvarchar](50) NOT NULL,
	[GiaoVienID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[LopHocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 24-Apr-17 4:53:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MonHocID] [int] IDENTITY(1,1) NOT NULL,
	[TenMonHoc] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MonHocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_HocSinh] FOREIGN KEY([HocSinhID])
REFERENCES [dbo].[HocSinh] ([HocSinhID])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_HocSinh]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_MonHoc] FOREIGN KEY([MonHocID])
REFERENCES [dbo].[MonHoc] ([MonHocID])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_MonHoc]
GO
ALTER TABLE [dbo].[GiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_MonHoc] FOREIGN KEY([MonHocID])
REFERENCES [dbo].[MonHoc] ([MonHocID])
GO
ALTER TABLE [dbo].[GiaoVien] CHECK CONSTRAINT [FK_GiaoVien_MonHoc]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_LopHoc] FOREIGN KEY([LopHocID])
REFERENCES [dbo].[LopHoc] ([LopHocID])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_HocSinh_LopHoc]
GO
ALTER TABLE [dbo].[LichPhanCong]  WITH CHECK ADD  CONSTRAINT [FK_LichPhanCong_GiaoVien1] FOREIGN KEY([GiaoVienID])
REFERENCES [dbo].[GiaoVien] ([GiaoVienID])
GO
ALTER TABLE [dbo].[LichPhanCong] CHECK CONSTRAINT [FK_LichPhanCong_GiaoVien1]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_GiaoVien] FOREIGN KEY([GiaoVienID])
REFERENCES [dbo].[GiaoVien] ([GiaoVienID])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_GiaoVien]
GO
USE [master]
GO
